/Character.class
/Happiness.class
/NewCharacter.class
/Status.class
/NewCharacter$1CloseListener.class
/NewCharacter$1EnterListener.class
/NewCharacter$1FinishListener.class
/NewCharacter$1SliderListener.class
